@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 2000px;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);
    --color-code: var(--code);
    --color-code-foreground: var(--code-foreground);
    --color-code-highlight: var(--code-highlight);
    --color-code-number: var(--code-number);
    --color-selection: var(--selection);
    --color-selection-foreground: var(--selection-foreground);
}

/* DaisyUI Lemonade Light theme */
:root {
    --background: oklch(98.71% 0.02 123.72);
    --foreground: oklch(19.742% 0.004 123.72);
    --card: oklch(91.8% 0.018 123.72);
    --card-foreground: oklch(19.742% 0.004 123.72);
    --popover: oklch(98.71% 0.02 123.72);
    --popover-foreground: oklch(19.742% 0.004 123.72);
    --primary: oklch(58.92% 0.199 134.6);
    --primary-foreground: oklch(11.784% 0.039 134.6);
    --secondary: oklch(77.75% 0.196 111.09);
    --secondary-foreground: oklch(15.55% 0.039 111.09);
    --muted: oklch(91.8% 0.018 123.72);
    --muted-foreground: oklch(30.98% 0.075 108.6);
    --accent: oklch(85.39% 0.201 100.73);
    --accent-foreground: oklch(17.078% 0.04 100.73);
    --destructive: oklch(86.19% 0.047 25.85);
    --border: oklch(84.89% 0.017 123.72);
    --input: oklch(84.89% 0.017 123.72);
    --ring: oklch(58.92% 0.199 134.6);
    --radius: 0.65rem;
    --chart-1: oklch(58.92% 0.199 134.6);
    --chart-2: oklch(77.75% 0.196 111.09);
    --chart-3: oklch(85.39% 0.201 100.73);
    --chart-4: oklch(86.19% 0.047 102.15);
    --chart-5: oklch(86.19% 0.047 157.85);
    --sidebar: oklch(98.71% 0.02 123.72);
    --sidebar-foreground: oklch(19.742% 0.004 123.72);
    --sidebar-primary: oklch(58.92% 0.199 134.6);
    --sidebar-primary-foreground: oklch(11.784% 0.039 134.6);
    --sidebar-accent: oklch(91.8% 0.018 123.72);
    --sidebar-accent-foreground: oklch(19.742% 0.004 123.72);
    --sidebar-border: oklch(84.89% 0.017 123.72);
    --sidebar-ring: oklch(58.92% 0.199 134.6);
    --selection: oklch(30.98% 0.075 108.6);
    --selection-foreground: oklch(98.71% 0.02 123.72);
}

.dark {
    --background: oklch(20.84% 0.008 17.911);
    --foreground: oklch(83.768% 0.001 17.911);
    --card: oklch(18.522% 0.007 17.911);
    --card-foreground: oklch(83.768% 0.001 17.911);
    --popover: oklch(18.522% 0.007 17.911);
    --popover-foreground: oklch(83.768% 0.001 17.911);
    --primary: oklch(68.628% 0.185 148.958);
    --primary-foreground: oklch(0% 0 0);
    --secondary: oklch(69.776% 0.135 168.327);
    --secondary-foreground: oklch(13.955% 0.027 168.327);
    --muted: oklch(18.522% 0.007 17.911);
    --muted-foreground: oklch(30.698% 0.039 171.364);
    --accent: oklch(70.628% 0.119 185.713);
    --accent-foreground: oklch(14.125% 0.023 185.713);
    --destructive: oklch(71.76% 0.221 22.18);
    --border: oklch(16.203% 0.007 17.911);
    --input: oklch(16.203% 0.007 17.911);
    --ring: oklch(68.628% 0.185 148.958);
    --radius: 0.65rem;
    --chart-1: oklch(68.628% 0.185 148.958);
    --chart-2: oklch(69.776% 0.135 168.327);
    --chart-3: oklch(70.628% 0.119 185.713);
    --chart-4: oklch(84.71% 0.199 83.87);
    --chart-5: oklch(64.8% 0.15 160);
    --sidebar: oklch(20.84% 0.008 17.911);
    --sidebar-foreground: oklch(83.768% 0.001 17.911);
    --sidebar-primary: oklch(68.628% 0.185 148.958);
    --sidebar-primary-foreground: oklch(0% 0 0);
    --sidebar-accent: oklch(18.522% 0.007 17.911);
    --sidebar-accent-foreground: oklch(83.768% 0.001 17.911);
    --sidebar-border: oklch(16.203% 0.007 17.911);
    --sidebar-ring: oklch(68.628% 0.185 148.958);
    --selection: oklch(30.698% 0.039 171.364);
    --selection-foreground: oklch(83.768% 0.001 17.911);
}

@layer base {
    * {
        @apply border-border;
    }
    ::selection {
        @apply bg-selection text-selection-foreground;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}
